.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(204, 227, 235);
    
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    max-width: 1000px;
    padding: 10px 5px;
    
    h1 {
      font-size: 24px;
      text-align: center;
      font-weight: 700;
      color: #7c7b7b;
    }

    .headerNav {
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }  
    }
  }
}

/* Tablet portrait */
@media screen and (min-width: 600px) {
  .header {
    .wrapper {
      flex-direction: row;
      justify-content: space-between;

      .headerNav {
        ul {
          flex-direction: row;
          
          li {
            margin-left: 20px;
          }
        }  
      }
    }    
  }    
}

/* Tablet landscape */
@media screen and (min-width: 760px) {}

/* Desktop */
@media screen and (min-width: 1024px) {}

/* WW Desktop */
@media screen and (min-width: 1200px) {}